body {
  background-color: #000; /* Fundo Preto para um alívio visual */
  color: #0098db;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color:  #04030e; /* Fundo preto */
  border-style: solid;
  border-color: #0098db;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #0ce6f2; /* Azul vibrante para o título principal */
  text-align: center;
  margin-bottom: 30px;
}

.input-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #0098db
; /* Bordas em Azul */
  border-radius: 5px;
  background-color: #201533; /* Fundo suave em tom de Azul claro */
}

h2 {
  color: 
#0ce6f2
; /* Laranja vibrante para os dias da semana */
  margin: 10px;
  justify-content: center;
  text-align: center;

}

.periodo-container {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #0098db
; /* Bordas em Azul */
  border-radius: 5px;
  background-color: #201533; /* Fundo suave em tom de Azul */
}

label {
  display: inline-block;
  width: 100px;
  color: #0098db; /* Azul escuro para os rótulos */
}

input[type="text"],
select {
  padding: 8px;
  border: 1px solid #0098db; /* Bordas do campo de texto em Azul */
  border-radius: 5px;
  background-color: #203562; /* Fundo suave no campo de entrada */
  color: #fff;
  margin-top: 10px
}

input[type="text"]:focus,
select:focus {
  
  border-color: #47f6ff; /* Realce da borda ao focar */
  outline: none;
}

button {
  background-color: #0098db
; /* Azul */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0ce6f2; /* Azul claro */
  
}
select{
  width: calc(100% - 190px);
}

.dias{
  display:flex; 
  justify-content: center;
  width: calc(100% - 190px);
  margin:auto;
}

.dia-container{
  margin: 10px;
  justify-content: center;
}
.btn_limpar{
  width: 80px;
  background-color: #00000011;
  
}